body {
    max-width: 40%;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;
    background-image: url(/odin-recipes/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    color: rgb(230, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}

.contents {
    backdrop-filter: blur(100px) brightness(90%);
    -webkit-backdrop-filter: blur(100px) brightness(90%);
    padding: 20px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px rgb(26, 26, 26);
}

img {
    max-width: 100%;
    border-radius: 20px;
}

a {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

a:hover {
    color: rgb(225, 127, 255);
}

hr {
    border: 2px solid rgb(156, 156, 156);
    border-radius: 3px;
}